@import url(https://fonts.googleapis.com/css?family=Montserrat:300,700);

.rating {
  color: #ffa000;
  list-style-type: none;
  padding: 0;
}

.rating li {
  display: inline-block;
}

.username_dashboard {
  top: 50%;
  position: inherit;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 20px;
  font-weight: bolder;
}

.round {
  border-radius: 50%;
}

.user-info {
  display: grid;
  position: relative;
}

.user-info > span {
  position: absolute;
  font-size: x-large;
  width: max-content;
}

.user-info > span:last-child {
  bottom: 0;
  left: 0;
  width: max-content;
  font-size: medium;
}

.more-info {
  cursor: pointer;
}

.flex {
  display: flex;
}

.con-moreinfo {
  position: relative;
  height: 100%;
  top: 25%;
}

.con-moreinfo > .dropdown {
  margin-top: -14px;
}

.normalweight {
  font-weight: 400;
}

.icon {
  display: inline;
}

.icon > i {
  margin: 10px;
}

.bolder {
  font-weight: bold;
}

.comments {
  display: flex;
}

.comment-info > span:last-child {
  font-weight: 400;
}

.pointer {
  cursor: pointer;
}

.emoji-container {
  position: absolute;
  left: 45%;
  z-index: 2;
  bottom: 100%;
}

.valid-feedback, .invalid-feedback {
  margin-top: -30px;
  margin-left: 40px;
}

.valid-input {
  border-color: #28a745 !important;
  //padding-right: calc(1.5em + .75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8… 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid-input {
  border-color: #dc3545 !important;
  //padding-right: calc(1.5em + .75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid-div {
  .invalid-feedback {
    display: block;
  }

  .valid-feedback {
    display: none;
  }
}

.valid-div {
  .invalid-feedback {
    display: none;
  }

  .valid-feedback {
    display: block;
  }
}

.like {
  position: absolute;
  left: 90%;
}

.hide {
  display: none;
}

.navbar {
  position: fixed;
  z-index: 16;
}

.sticker {
  border-radius: 50%;
  padding: 18px 23px !important;
  margin-top: -80px !important;
}

.comment-textarea {
  display: inline !important;
  width: calc(100% - 73.47px);
}

.usercomment {
  margin-top: unset;
  margin-bottom: unset;
}

.emoji-mart-search input {
  width: 80% !important;
}

.fa-heart.fa {
  color: #ff0001
}

@media screen and (max-width: 768px) {
  .home_data {
    display: none;
  }
  .emoji-container {
    left: calc(45% - 151px)
  }
  .home_dashboard {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  .chat-container {
    display: none;
  }
}

.container-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
  .form-container {
    width: 100% !important;
  }
}

.video-time {
  position: absolute;
  background: black;
  z-index: 10;
  color: white;
  opacity: .5;
  left: 85%;
}

.carousel .carousel-indicators li {
  border: 1px solid black;
}

.video-volume-icon {
  float: right;
  padding: 10px;
  background-color: #0f0f0f;
  color: #ffffff;
  border-radius: 50%;
  position: absolute;
  bottom: -.1rem;
  left: 90%;
}

.custom-file-input-container .icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: -webkit-xxx-large;
}

.custom-file-input-container {
  //background-image: url("http://localhost:3001/favicon.ico");
  cursor: pointer;
  background-size: cover;
  border: 3px solid gray;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  display: flex;
  position: relative;
  vertical-align: middle;
}

//================================== Error Styling ===============================\\
.errorcontainer {
  position: relative;
  height: 100vh;
}

.errorcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.errorcontainer .errorcenter h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 146px;
  font-weight: 700;
  margin: 0;
  color: #232323;
}

.errorcontainer .errorcenter h1 > span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url(../img/overlays/404.png);
  background-size: cover;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  z-index: -1;
}

.errorcontainer a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 12px 30px;
  font-weight: 700;
  background-color: #f99827;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;

  :hover {
    opacity: 0.8;
  }
}

.errorcontainer p {
  font-family: 'Montserrat', sans-serif;
  color: #787878;
  font-weight: 300;
}

.errorcontainer h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #232323;
}

@media only screen and (max-width: 767px) {
  .errorcontainer .con404 {
    height: 115px;
  }
  .errorcontainer .con404 h1 {
    font-size: 86px;
  }
  .errorcontainer .con404 h1 > span {
    width: 86px;
    height: 86px;
  }
}

.round-img {
  border-radius: 50%;
}

.profile_username {
  font-size: x-large;
}

.btn_follow {
  margin-left: 20px;
}

.user_data {
  display: block;

  div {
    display: block;
  }
  button{
    margin-left: 30px;
  }

  div:nth-child(2) {
    margin-top: 20px;
    span:nth-child(2), span:last-child {
      margin-left: 20px;
    }
  }
  div:last-child{
    margin-top: 20px;
    word-break: break-word;
  }
}
.profilepicture{
  width: 150px;
  margin: auto;
  img{
    border-radius: 50%;
    border: 1px solid darkgray;
  }
  input[type="file"]{
    display: none;
  }
}
.change-camera{
  position: absolute;
  cursor: pointer;
  margin-left: -35px;
  background: white;
  border: 1px solid;
  border-radius: 50%;
  padding: 10px;
}

.post-thumbnail{
  margin-top: 50px;
  position: relative;
  cursor: pointer;

  .post_desc{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    background-color: #0d47a1;
    transition: .5s;
    opacity: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    span:last-child{
      margin-left: 20px;
    }
  }
}
.post-thumbnail:hover .post_desc{
  visibility: visible;
  opacity: .8;
  transition: .5s;
}

.chat-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.chat-container::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.chat-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgb(6, 62, 104), rgb(13, 145, 155));
}

.chat-container:hover {
  overflow-y: scroll;
}

.chat-container {
  position: fixed;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #5c60ff;
  color: white;
  margin-top: 75px;
  left: calc(100% - 210px);
  width: 210px;
  transition: .5s;
  user-select: none;
  z-index: 2;
  display: none;

  div {
    padding-bottom: 15px;
    padding-top: 15px;
    cursor: pointer;
    margin-left: 15px;

    img {
      user-select: none;
      border-radius: 50%;
    }

    span:last-child {
      border-radius: 50%;
      margin-top: 10px;
      margin-right: 10px;
      width: 6px;
      float: right;
    }

    span.online {
      border: 4px solid lightgreen;
    }

    span.offline {
      border: 4px solid red;
    }
  }

  span {
    margin-left: 10px;
  }
}
.search-container{
  display: flex;
  margin-top: 20px;
  .user-img{
    cursor: pointer;
    width:100px;
    z-index: 10;
    img{
      border-radius: 50%;
    }
  }

  .user-desc{
    margin-left: -85px;
    padding-left: 120px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 70px;
    margin-bottom: auto;
    margin-top: auto;
    p{
      cursor: pointer;
      font-weight: bold;
    }
    button{
      float: right;
    }
    p:last-child{
      font-weight: bolder;
    }
  }
}
