// Your custom styles
.rating {
  color: #ffa000;
  list-style-type: none;
  padding: 0;
}

.rating li {
  display: inline-block;
}

.username_dashboard {
  top: 50%;
  position: inherit;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 20px;
  font-weight: bolder;
}

.round {
  border-radius: 50%;
}

.user-info {
  display: grid;
  position: relative;
}

.user-info > span {
  position: absolute;
  font-size: x-large;
  width: max-content;
}

.user-info > span:last-child {
  bottom: 0;
  left: 0;
  width: max-content;
  font-size: medium;
}

.more-info {
  cursor: pointer;
}

.flex {
  display: flex;
}

.con-moreinfo {
  position: relative;
  height: 100%;
  top: 25%;
}

.con-moreinfo > .dropdown {
  margin-top: -14px;
}

.icon{
  display: inline;
}
.icon > i {
  margin: 10px;
}
.bolder{
  font-weight: bold;
}
.comments{
  display: flex;
}
.comment-info > span:last-child{
  font-weight: 400;
}
.pointer{
  cursor: pointer;
}
@media screen and (max-width: 768px){
  .home_data{
    display: none;
  }
  .home_dashboard{
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
}